@import 'tailwindcss';

/* @theme inline {
    extend: {
        fontFamily: {
          inter: ['var(--font-inter)', 'sans-serif'],
          geist: ['var(--font-geist-sans)', 'sans-serif'],
          geistMono: ['var(--font-geist-mono)', 'monospace'],
        },
      },
} */

@layer utilities {
  .font-geist {
    font-family: var(--font-geist-sans), sans-serif;
  }

  .font-inter {
    font-family: var(--font-inter), sans-serif;
  }

  .font-geistMono {
    font-family: var(--font-geist-mono), monospace;
  }

  .font-dmSans {
    font-family: var(--font-dm-sans), sans-serif;
  }

  .font-jakartaSans {
    font-family: var(--font-jakarta-sans), sans-serif;
  }
}
